<!doctype html>
<script src="{{url_for('static', filename='index.js')}}"></script>
<link rel="stylesheet" href="{{url_for('static', filename='index.css')}}">

<html>
<head>
    <title>Sudoku solver</title>
    <style>
       input {
    width: 100%;
    font-family: 'Times New Roman';
    font-size: 16px;
    color: #000000;
    font-weight: bold;
    box-sizing: border-box;
    border: 0;
    text-align:center;
    }
        table {
      margin:1em auto;
    }
        td {
      height:30px;
      width:30px;
      border:1px solid;
      text-align:center;
    }
        td:nth-child(3n) {
      border-right:solid ;
    }
        tr:nth-child(3n) td {
      border-bottom:solid ;
    }
    </style>
</head>

<body>

<div align="center">
    <a href="javascript:window.location.href=window.location.protocol+'//'+window.location.host">
        Get random sudoku board
    </a>
    <a style="margin-left:2.5em"
       href=javascript:window.location.href=window.location.protocol+'//'+window.location.host+/solve/>
        Input a sudoku board to solve/check
    </a>
</div>

<p align="center">Input a sudoku board:</p>

<form action="/solve/" method="POST">
    <table>
        {% for row in initial_board %}
        <tr>
            {% for value in row %}
            {% if value == 0 %}
            <td><b><input type="number" min="1" max="9" inputmode="numeric" name="value" autocomplete="off"/></b></td>
            {% else %}
            <td><b><input type="number" min="1" max="9" inputmode="numeric" name="value" autocomplete="off"
                          value={{value}}></b></td>
            {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </table>

    <div style="text-align: center">
        <button type="submit">Try to solve/check this sudoku</button>
    </div>
</form>

<p align="center">This sudoku is solvable</p>

<div style="text-align: center">
    <button onclick="show(); change()" id="ButtonShowHide">Show solved sudoku board</button>
</div>

<div id="myDIV" style="display: none">
    <p align="center">
        Solved sudoku board:
    </p>
    <table>
        {% for i in range(9)%}
        <tr>
            {% for j in range(9)%}
            {% if solved_board[i][j] == initial_board[i][j] %}
            <td><b>{{solved_board[i][j]}}</b></td>
            {% else %}
            <td>{{solved_board[i][j]}}</td>
            {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div>

</body>
</html>