<!doctype html>
<script src="{{url_for('static', filename='index.js')}}"></script>

<html>
<head>
    <title>Sudoku solver</title>
    <style>
       input {
    width: 100%;
    font-family: 'Times New Roman';
    font-size: 16px;
    color: #000000;
    font-weight: bold;
    box-sizing: border-box;
    border: 0;
    text-align:center;
    }
        table {
      margin:1em auto;
    }
        td {
      height:30px;
      width:30px;
      border:1px solid;
      text-align:center;
    }
        td:nth-child(3n) {
      border-right:solid ;
    }
        tr:nth-child(3n) td {
      border-bottom:solid ;
    }
    </style>
</head>

<body>

<div align="center">
    <a href=https://learning-sudoku-project.herokuapp.com/>Get random sudoku board</a>
    <a style="margin-left:2.5em" href=https://learning-sudoku-project.herokuapp.com/solve/>
        Input a sudoku board to solve/check
    </a>
</div>

<p align="center">Input a sudoku board:</p>

<form action="/solve/" method="POST">
    <table>
        {% for row in initial_board %}
        <tr>
            {% for value in row %}
            <td><b><input name="value" autocomplete="off"/></b></td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>

    <div style="text-align: center">
        <button type="submit">Try to solve/check this sudoku</button>
    </div>
</form>

</body>
</html>